.aboutus-img{
    display: flex;
    flex-direction: column;
    padding:15px;
}

img
{
    height:400px;
	position: relative;
    overflow: hidden;
	/* Transition */
	transition: 0.5s all ease-in-out;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
img:hover{
        transform: scale(1.25);
}