.bg{
    background-color: black;
}
.cover{
    height: 40vw;
    margin-bottom: 10px;
    width:100%;
    border-radius: 2%;
}
.content{
    margin: 5%;
}
.logo{
    float:right;
    width:25%;
    margin-right: 5%;
}
.who{
    width:60%;
}
.who h1{
    color: white;
    font-size: 3.5rem;
}
.who p{
    font-size: 1.25rem;
}
.our
{
    margin:30px;
}
.our h1{
    color: white;
    text-align: center;
    font-size: 5rem;
}
