.card{
    padding: 30px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
    background-color: black;
    border:none;
}
.pix {
    height:auto;
    width:250px;
    border-radius: 50%;
    transition: all 0.25s linear;
    margin-left: 18%;
    display: inline-block;
    margin-bottom: 4%;
}

.name {
    font-weight: bold;
    color: #FFF;
    font-size: 17px;
}

.position {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.5px;
    color:white;
    text-align: center;
    padding: 0;
}
.position1{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.5px;
    color:white;
    text-align: center;
    padding: 0;
}

.position p{
    margin:0px;
}
.head{
    color:white;
    font-size: 1.3rem !important;
    text-align: center;
}
.pos{
    color:white;
    font-size:1rem !important;
    text-align: center;
}
@media only screen and (max-width:767px)
{
    .pix{
        margin-left: 8%;
        height:auto;
        width:150px;
    }
    .head{
        color:white;
        font-size: 1.3rem !important;
    }
    .pos{
        color:white;
        font-size:1rem !important;
    }
}
