#departmentBg {
    background-image: url("dep.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh !important;
}
.dep-byline {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px !important;
    font-weight: 900 !important;
    font-family: 'Kanit' !important;
}

.mainContent {
    background-color: rgb(30, 30, 30);
    color: white;
}

.dep-subheading {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin: 0.6em;
    font-weight: 700;
    color: white;
    font-family: 'Poppins';
}
.dep-intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 30px;
    color: white;
    text-align: center;
}
.achievements {
    padding: 5em 5em 0 5rem;
}
.achievement-topic{
    margin-top: 1em;
    text-align: center;
}

.achievements-title{
    font-size: 45px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

}
.achievement-text {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin: 1em 0 1em 0 !important;
}

.facepic {
    min-width: 10em;
    min-height: 10em;
}

.memName {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1em !important;
    font-weight: 600;
    font-size: 20px;
}
.memDesignation {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.5em !important;
    font-size: 18px;
}

.memberContainer {
    margin-top: 1em !important;
}


@media screen and (max-width: 600px) {
    #departmentBg {
        height: 50vh !important;
    }
    .achievements {
        padding: 20px;
    }
    .facepic {
        width: 150px;
        height: 150px;
    }
  }