.pagecontent {
    margin-top: 2em;
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title {
    /* width: 0; */
    color: white;
    text-align: right;
}
.teamcontent {
    margin-top: 2em;
    padding: inherit;
    width: 100%;
    background-color: white;
    border-radius: 2em;
}

@media only screen and (max-width: 600px) {
    .pagecontent {
      padding: 1em;
    }
  }